.container {
  color: white;
  margin: 0 20px 0 20px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  transform: translateY(-50%);

}

.forgot-password {
  padding-top: 8px;
  padding-bottom: 8px;
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}

ion-label {
  color: rgba(255, 255, 255, 0.733) !important;
}

input {
  color: aliceblue;
}

ion-item {
  --border-color: var(--ion-color-light, #ffffffc2);
}